<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-appro-heading" jhiTranslate="yesColaApp.appro.home.createOrEditLabel">Create or edit a Appro</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!appro.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="appro.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yesColaApp.appro.qteLiv" for="field_qteLiv">Qte Liv</label>
                    <input type="text" class="form-control" name="qteLiv" id="field_qteLiv"
                        [(ngModel)]="appro.qteLiv" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yesColaApp.appro.article" for="field_article">Article</label>
                    <select class="form-control" id="field_article" name="article" [(ngModel)]="appro.article" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="articleOption.id === appro.article?.id ? appro.article : articleOption" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yesColaApp.appro.bonLivraison" for="field_bonLivraison">Bon Livraison</label>
                    <select class="form-control" id="field_bonLivraison" name="bonLivraison" [(ngModel)]="appro.bonLivraison" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bonLivraisonOption.id === appro.bonLivraison?.id ? appro.bonLivraison : bonLivraisonOption" *ngFor="let bonLivraisonOption of bonlivraisons; trackBy: trackBonLivraisonById">{{bonLivraisonOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
