<div style="z-index:1 ;">
    <!--   <h2 id="page-heading">
     <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commande" [routerLink]="['/commande/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="yesColaApp.commande.home.createLabel">
            Create new Commande
            </span>
        </button>
        <a  style="float: right" class="btn btn-primary waves-effect waves-light" role="button" [routerLink]="['/suivi-liv/new']">Creer</a>
    </h2>-->
    <jhi-alert></jhi-alert>
   <!-- <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'yesColaApp.commande.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>-->
  <!--  <button (click)="openConfirmationDialog()" type="button" class="btn btn-primary">Open dialog</button>-->

    <div id="custom-width-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none">
        <div class="modal-dialog" style="width:55%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Modal Heading</h4>
                </div>
                <div class="modal-body">
                    <h4>Voulez vous changer d'Etat ?</h4>

                </div>
                <div class="modal-footer">
                    <button (click)="close()" type="button" class="btn btn-default waves-effect" data-dismiss="modal">Non</button>
                    <button  (click)="ChangeEtat()" data-dismiss="modal" type="button" class="btn btn-primary waves-effect waves-light">Oui</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <button id="etat" style="visibility: hidden"  type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#custom-width-modal" >Custom width Modal</button>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet">
                <div class="portlet-heading bg-primary">
                    <h3 class="portlet-title">
                        Filtre Livraison
                    </h3>
                    <div class="portlet-widgets">

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-primary" class="panel-collapse collapse in">
                    <div style="  padding-left: 250px;" class="portlet-body offset-1">
                        <div class="row">
                            <div class="col-md-3">
                                <label >Etat</label>
                                <select [(ngModel)]="motetat" class="form-control" (change)="filtreEtat()" >
                                    <option value="">Selectionner </option>
                                    <option value="Non Livrer">Non Livrer</option>
                                    <option value="Livrer Pas Payer">Livrer Pas Payer</option>
                                    <option value="Livrer et Payer">Livrer et Payer</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label >Boutique</label>
                                <select [(ngModel)]="motboutique"  class="form-control" (change)="filtreEtat()">
                                    <option value="">Selectionner </option>
                                    <option value="{{x}}" *ngFor="let x of this.boutique">{{x}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label >Secteur</label>
                                <select  [(ngModel)]="motSecteur" class="form-control" (change)="filtreEtat()">
                                    <option value="">Selectionner </option>
                                    <option value="{{x}}" *ngFor="let x of this.secteur">{{x}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label >Date</label>
                                <select class="form-control">
                                    <option value="+47">Selectionner </option>
                                    <option value="+47">Norge (+47)</option>
                                    <option value="+46">Sverige (+46)</option>
                                    <option value="+45">Danmark (+45)</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label >Jour</label>
                                <select class="form-control">
                                    <option value="+47">Selectionner </option>
                                    <option value="+47">Lundi </option>
                                    <option value="+46">Mardi </option>
                                    <option value="+45">Mercredi </option>
                                    <option value="+45">Jeudi </option>
                                    <option value="+45">Vendredi </option>
                                    <option value="+45">Samedi</option>
                                    <option value="+45">Dimanche </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label >Prévendeur</label>
                                <select class="form-control">
                                    <option value="+47">Selectionner </option>
                                    <option *ngFor="let x of this.prevendeur">{{x}}</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet">
                <div class="portlet-heading bg-primary">
                    <h3 class="portlet-title">
                        Liste des Livraisons
                    </h3>
                    <div class="portlet-widgets">

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div id="bg-primary" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="table-responsive" *ngIf="commandes">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                     <th><span >Numero</span></th>
                                    <th><span >Route</span></th>
                                   <!-- <th><span jhiTranslate="global.field.id">ID</span></th>
                                    <th><span jhiTranslate="yesColaApp.commande.numCom">Num Com</span></th>-->
                                    <th><span >Date</span></th>
                                    <th><span >Jour</span></th>
                                    <th><span jhiTranslate="yesColaApp.commande.prevendeur">Prevendeur</span></th>
                                    <th><span >Secteur</span></th>
                                    <th><span >Boutique</span></th>
                                    <th><span >Montant</span></th>

                                    <th><span jhiTranslate="yesColaApp.commande.etat">Etat</span></th>
                                   <!-- <th><span jhiTranslate="yesColaApp.commande.montantLiv">Montant Liv</span></th>
                                    <th><span jhiTranslate="yesColaApp.commande.montantRest">Montant Rest</span></th>
                                    <th><span jhiTranslate="yesColaApp.commande.boutique">Boutique</span></th>
                                    <th><span jhiTranslate="yesColaApp.commande.detailRoute">Detail Route</span></th>
                                    <th><span jhiTranslate="yesColaApp.commande.secteur">Secteur</span></th>
                                    <th><span jhiTranslate="yesColaApp.commande.livreur">Livreur</span></th>-->

                                    <th><span >Options</span></th>
                                   <!-- <th><span jhiTranslate="yesColaApp.commande.prospection">Prospection</span></th>-->
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let commande of commandes ">
                                    <td><a [routerLink]="['/commande', commande.id, 'view' ]">{{commande.id}}</a></td>
                                    <!--<td>{{commande.numCom}}</td>-->
                                    <td>{{commande.detailRoute.route.numero}}</td>
                                    <td>{{commande.dateCom | date:'mediumDate'}}</td>
                                    <td></td>
                                    <td>{{commande.prevendeur.nomcomplet}}</td>
                                    <td>{{commande.secteur.nomSecteur}}</td>
                                    <td>{{commande.boutique.nomBoutique}}</td>
                                    <td>{{commande.montantLiv*1+commande.montantRest*1}}</td>
                                    <td>
                                        <select  #selectElem  class="form-control" (change)="popUp(commande.id,selectElem.value)">
                                            <option value="{{commande.etat}}">{{commande.etat}}</option>
                                            <option *ngIf="commande.etat!='Non Livrer'" >Non Livrer</option>
                                            <option *ngIf="commande.etat!='Livrer Pas Payer'" >Livrer Pas Payer</option>
                                            <option *ngIf="commande.etat!='Livrer et Payer'" >Livrer et Payer</option>
                                        </select>
                                    </td>
                                    <!--
                                    <td>{{commande.montantLiv}}</td>
                                    <td>{{commande.montantRest}}</td>
                                    <td>
                                        <div *ngIf="commande.boutique">
                                            <a [routerLink]="['../boutique', commande.boutique?.id, 'view' ]" >{{commande.boutique?.id}}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="commande.detailRoute">
                                            <a [routerLink]="['../detail-route', commande.detailRoute?.id, 'view' ]" >{{commande.detailRoute?.id}}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="commande.secteur">
                                            <a [routerLink]="['../secteur', commande.secteur?.id, 'view' ]" >{{commande.secteur?.id}}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="commande.livreur">
                                            <a [routerLink]="['../employee', commande.livreur?.id, 'view' ]" >{{commande.livreur?.id}}</a>
                                        </div>
                                    </td>-->
                                  <!--  <td>
                                        <div *ngIf="commande.prevendeur">
                                            <a [routerLink]="['../employee', commande.prevendeur?.id, 'view' ]" >{{commande.prevendeur?.id}}</a>
                                        </div>
                                    </td>-->
                                   <!-- <td>
                                        <div *ngIf="commande.prospection">
                                            <a [routerLink]="['../prospection', commande.prospection?.id, 'view' ]" >{{commande.prospection?.id}}</a>
                                        </div>
                                    </td>-->
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button style="margin-right: 10px" type="button" class="btn btn-info" [routerLink]="['/suivi-liv', commande.id, 'view' ]">Details</button>
                                           <!-- <button style="margin-right: 10px" type="button" class="btn btn-success"   [routerLink]="['/suivi-liv', commande.id, 'edit']">Modifier</button>
                                            <button style="margin-right: 10px"  type="button" class="btn btn-danger">Archiver</button>-->
                                           <!-- <button type="submit"
                                                    [routerLink]="['/commande', commande.id, 'view' ]"
                                                    class="btn btn-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/commande', commande.id, 'edit']"
                                                    class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', 'commande', { outlets: { popup: commande.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>-->

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
