<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="depot">
            <h2><span jhiTranslate="yesColaApp.depot.detail.title">Depot</span> {{depot.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yesColaApp.depot.adresse">Adresse</span></dt>
                <dd>
                    <span>{{depot.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="yesColaApp.depot.telephone">Telephone</span></dt>
                <dd>
                    <span>{{depot.telephone}}</span>
                </dd>
                <dt><span jhiTranslate="yesColaApp.depot.email">Email</span></dt>
                <dd>
                    <span>{{depot.email}}</span>
                </dd>
                <dt><span jhiTranslate="yesColaApp.depot.longitude">Longitude</span></dt>
                <dd>
                    <span>{{depot.longitude}}</span>
                </dd>
                <dt><span jhiTranslate="yesColaApp.depot.altitude">Altitude</span></dt>
                <dd>
                    <span>{{depot.altitude}}</span>
                </dd>
                <dt><span jhiTranslate="yesColaApp.depot.etat">Etat</span></dt>
                <dd>
                    <span>{{depot.etat}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/depot', depot.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
