<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commune-heading" jhiTranslate="yesColaApp.commune.home.createOrEditLabel">Create or edit a Commune</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commune.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commune.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yesColaApp.commune.nomCom" for="field_nomCom">Nom Com</label>
                    <input type="text" class="form-control" name="nomCom" id="field_nomCom"
                        [(ngModel)]="commune.nomCom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yesColaApp.commune.longitutde" for="field_longitutde">Longitutde</label>
                    <input type="text" class="form-control" name="longitutde" id="field_longitutde"
                        [(ngModel)]="commune.longitutde" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yesColaApp.commune.altitude" for="field_altitude">Altitude</label>
                    <input type="text" class="form-control" name="altitude" id="field_altitude"
                        [(ngModel)]="commune.altitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yesColaApp.commune.etat" for="field_etat">Etat</label>
                    <input type="text" class="form-control" name="etat" id="field_etat"
                        [(ngModel)]="commune.etat" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
