
<div>
    <h2 id="page-heading">
        <span jhiTranslate="yesColaApp.prospection.home.title">Prospections</span>
       <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prospection" [routerLink]="['/prospection/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="yesColaApp.prospection.home.createLabel">
            Create new Prospection
            </span>
        </button>-->
        <a  style="float: right" class="btn btn-primary waves-effect waves-light" role="button" [routerLink]="['/prospection/new']">Creer</a>
    </h2>
    <jhi-alert></jhi-alert>

    <!--<div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'yesColaApp.prospection.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>-->
    <div class="row">
    <div class="col-lg-12">
        <div class="portlet">
            <div class="portlet-heading bg-primary">
                <h3 class="portlet-title">
                    Filtre
                </h3>
                <div class="portlet-widgets">

                </div>
                <div class="clearfix"></div>
            </div>
            <div id="bg-primary" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label >Etat</label>
                            <select class="form-control" >
                                <option value="+47">Norge (+47)</option>
                                <option value="+46">Sverige (+46)</option>
                                <option value="+45">Danmark (+45)</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label >Date</label>
                            <select class="form-control">
                                <option value="+47">Norge (+47)</option>
                                <option value="+46">Sverige (+46)</option>
                                <option value="+45">Danmark (+45)</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label >Jour</label>
                            <select class="form-control">
                                <option value="+47">Norge (+47)</option>
                                <option value="+46">Sverige (+46)</option>
                                <option value="+45">Danmark (+45)</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label >Prévendeur</label>
                            <select class="form-control">
                                <option value="+47">Norge (+47)</option>
                                <option value="+46">Sverige (+46)</option>
                                <option value="+45">Danmark (+45)</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label >Secteur</label>
                            <select class="form-control">
                                <option value="+47">Norge (+47)</option>
                                <option value="+46">Sverige (+46)</option>
                                <option value="+45">Danmark (+45)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet">
                <div class="portlet-heading bg-primary">
                    <h3 class="portlet-title">
                        Liste des prospections
                    </h3>
                    <div class="portlet-widgets">

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-primary" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="table-responsive" *ngIf="prospections">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <!-- <th><span jhiTranslate="global.field.id">ID</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.datedepart">Datedepart</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.datecreation">Datecreation</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.heuredepart">Heuredepart</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.heurearrive">Heurearrive</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.journee">Journee</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.nbreatteint">Nbreatteint</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.nbrprevue">Nbrprevue</span></th>-->
                                    <th><span jhiTranslate="yesColaApp.prospection.etat">Etat</span></th>
                                    <th><span jhiTranslate="yesColaApp.prospection.prevendeur">Prevendeur</span></th>
                                    <th><span >Tablette</span></th>
                                    <th><span >TV</span></th>
                                    <th><span >TS</span></th>
                                    <th><span>Secteur</span></th>
                                    <th><span>Options</span></th>

                                    <!-- <th><span jhiTranslate="yesColaApp.prospection.gerant">Gerant</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.moyenTransport">Moyen Transport</span></th>
                                     <th><span jhiTranslate="yesColaApp.prospection.commande">Commande</span></th>-->
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let prospection of prospections ;trackBy: trackId" >
                                    <!--<td><a [routerLink]="['/prospection', prospection.id, 'view' ]">{{prospection.id}}</a></td>
                                    <td>{{prospection.datedepart | date:'mediumDate'}}</td>
                                    <td>{{prospection.datecreation | date:'mediumDate'}}</td>
                                    <td>{{prospection.heuredepart}}</td>
                                    <td>{{prospection.heurearrive}}</td>
                                    <td>{{prospection.journee}}</td>
                                    <td>{{prospection.nbreatteint}}</td>
                                    <td>{{prospection.nbrprevue}}</td>-->
                                    <td>{{prospection.etat}}</td>
                                    <td>
                                        <div *ngIf="prospection.prevendeur">
                                            <a [routerLink]="['../employee', prospection.prevendeur?.id, 'view' ]" >{{prospection.prevendeur.nomcomplet}}</a>
                                            <!-- <a [routerLink]="['../employee', prospection.prevendeur?.id, 'view' ]" >{{prospection.prevendeur?.id}}</a>-->
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="prospection.prevendeur">
                                            <a [routerLink]="['../employee', prospection.prevendeur?.id, 'view' ]" >{{prospection.prevendeur.tablette.numero}}</a>
                                            <!-- <a [routerLink]="['../employee', prospection.prevendeur?.id, 'view' ]" >{{prospection.prevendeur?.id}}</a>-->
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <!-- <td>
                                         <div *ngIf="prospection.gerant">
                                             <a [routerLink]="['../employee', prospection.gerant?.id, 'view' ]" >{{prospection.gerant?.id}}</a>
                                         </div>
                                     </td>
                                     <td>
                                         <div *ngIf="prospection.moyenTransport">
                                             <a [routerLink]="['../moyen-transport', prospection.moyenTransport?.id, 'view' ]" >{{prospection.moyenTransport?.id}}</a>
                                         </div>
                                     </td>
                                     <td>
                                         <div *ngIf="prospection.commande">
                                             <a [routerLink]="['../commande', prospection.commande?.id, 'view' ]" >{{prospection.commande?.id}}</a>
                                         </div>
                                     </td>-->
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['/prospection', prospection.id, 'view' ]"
                                                    class="btn btn-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/prospection', prospection.id, 'edit']"
                                                    class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', 'prospection', { outlets: { popup: prospection.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
