<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeRoute">
            <h2><span jhiTranslate="yesColaApp.typeRoute.detail.title">Type Route</span> {{typeRoute.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yesColaApp.typeRoute.libelle">Libelle</span></dt>
                <dd>
                    <span>{{typeRoute.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="yesColaApp.typeRoute.etat">Etat</span></dt>
                <dd>
                    <span>{{typeRoute.etat}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-route', typeRoute.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
